@rendermode InteractiveServer

<div class="card" style="width: 18rem;">
  <svg aria-label="Placeholder: Image cap" class="bd-placeholder-img card-img-top" height="180" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
  <div class="card-body">
    <h5 class="card-title">@Title</h5>
    <p class="card-text">@Conteudo</p>
    <button class="btn btn-primary" @onclick="OnClick">@txtButtom</button>
  </div>
</div>


@code{
    [Parameter]
    public string? Title {get; set;}
    [Parameter]
    public string? Conteudo {get; set;}
    [Parameter]
    public string? txtButtom {get; set;}

    public void OnClick(){

      Title = "trocou o texto";
    }
}

